<h1 class="secondary">user works!</h1>
<input type="text" placeholder="username" />

<body>
  <div class="container-fluid py-4">
    <div class="row">
      <!-- ================= FORM ================= -->

      <div class="col-lg-6">
        <div class="card shadow-lg border-0 bg-warning-subtle">
          <div class="card-header bg-warning text-dark">User List(Card View)</div>

          <div class="card-body">
            <div class="row g-4">
              <!-- User Card -->

              <div class="col-md-6 col-xl-4">
                <div class="card shadow user-card border-0">
                  <div class="card-body text-center">
                    <h5 class="mt-3 card-title">Komit Chaudhary</h5>

                    <hr />

                    <p class="mb-2"><strong>Email:</strong> komit@gmail.com</p>
                    <p class="mb-3"><strong>Mobile No:</strong> 9876543210</p>
                    <p class="mb-2"><strong>Password:</strong> ******</p>

                    <div class="action-btns d-flex justify-content-between">
                      <button class="btn btn-warning btn-sm">Edit</button>

                      <button class="btn btn-danger btn-sm">Delete</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Card 2 -->

              <div class="col-md-6 col-xl-4">
                <div class="card shadow user-card border-0">
                  <div class="card-body text-center">
                    <h5 class="mt-3 card-title">Amit Sharma</h5>
                    <hr />

                    <p class="mb-2"><strong>Email:</strong>amit@gmail.com</p>

                    <p class="mb-3"><strong>Mobile No.:</strong> 9876543201</p>
                    <p class="mb-3"><strong>Password: </strong> ******</p>

                    <div class="action-btns d-flex justify-content-between">
                      <button class="btn btn-warning btn-sm">Edit</button>

                      <button class="btn btn-danger btn-sm">Delete</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Add more cards dynamically later -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="card shadow-lg border-0 form-card bg-warning-subtle">
          <div class="card-header bg-warning text-dark text-center">User Registration</div>

          <div class="card-body">
            <form [formGroup]="userForm">
              <div class="mb-3">
                <label class="form-label">User Id</label>
                <input type="number" placeholder="Enter any number for userid" class="form-control" />
              </div>

              <div class="mb-3">
                <label class="form-label">Full Name</label>
                <input type="text" formControlName="fullName" placeholder="Enter full name" class="form-control" />
              </div>

              <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" formControlName="emailId" placeholder="Enter email Id" class="form-control" />
              </div>

              <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" formControlName="password" placeholder="Enter password" class="form-control" />
              </div>

              <div class="mb-4">
                <label class="form-label">Mobile Number</label>
                <input type="text" formControlName="mobileNo" class="form-control" placeholder="Enter mobile number" />
              </div>

              <div class="d-grid gap-2">
                <button class="btn btn-success" (click)="onSaveUser()">Save</button>

                <button class="btn btn-primary">Update User</button>

                <button class="btn btn-secondary">Clear</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- ================= DATA SECTION ================= -->
    </div>
  </div>
</body>