<h1 class="secondary"> Application Control Flow Work</h1>
<div class="row">
  <div class="col-3">
    <select [(ngModel)]= 'selectedCaste' class="form-select">
      <option> ABC City </option>
      <option> DEF City</option>
      <option> GHI City</option>
      <option> Other City</option>
    </select>
  </div>
  <div class = 'col-3'>
    @if (selectedCaste=='Other City'){
      <input type="text" class="form-control" placeholder="Mention Other city">
    }
  </div>
</div>

<div class="row">
  <div  class="col-4">
    @if(isStudentActive() == true){
      <span class="text-success">Student is active </span>
    }
    @else{
      <span class="text-danger">Student is not active </span>
    }


  </div>

  <div class="col-4">
    {{isStudentActive()}}
    <button class="btn btn-success">Make Active</button>
    <button class="btn btn-warning mx-2">Make De-active</button>


  </div>

</div>