<h1 class="secondary"> Application Control Flow Work</h1>
<div class="row">
  <div class="col-3">
    <select [(ngModel)]= 'selectedCaste' class="form-select">
      <option> ABC City </option>
      <option> DEF City</option>
      <option> GHI City</option>
      <option> Other City</option>
    </select>
  </div>
  <div class = 'col-3'>
    @if (selectedCaste=='Other City'){
      <input type="text" class="form-control" placeholder="Mention Other city Name">
    } @else if (selectedCaste=='ABC City') {
        <SPAN>ABC City</SPAN>
    } @else if (selectedCaste=='DEF City') {
        <SPAN>DEF City</SPAN>
    } @else if (selectedCaste=='GHI City') {
        <SPAN>GHI City</SPAN>
    }
      @else {
        <span>Select City</span>
    }

  </div>
</div>

<div class="row">
  <div  class="col-4">
    @if(isStudentActive() == true){
      <span class="text-success" >Active Student </span>
    }
    @else{
      <span class="text-danger"> De-Active Student</span>
    }


  </div>

  <div class="col-4">
    {{isStudentActive()}}
    <button class="btn btn-success" (click)="changeStatus(true)">Make Active</button>
    <button class="btn btn-warning mx-2" (click)="changeStatus(false)" >Make De-active</button>


  </div>

</div>